.SubCategoryPage {
  // background-color: gainsboro;
  background-color: #3f4042;
  .spot-pic {
    height: 285px;
    width: 380px;
    border: 1px solid #f77a31;
  }

  h1 {
    color: white;
  }

  .btn{
    background-color: white;
    opacity: 0.7;
    border: 3px solid white;
    color: black;
    width: 250px;
    font-size: 30px;
    margin-top: -300px;
  }

  .btn:active {
    background-color: #f77a31;
    opacity: 1;
  }

  .extra-space {
    height: 1500px;
  }

}