.MakeATripForm {
  padding: 0px;
  margin: 0px;
  background: transparent;

  input {
    background-color: #935ced;
    border: none;
    color: white;
  }

  ::placeholder {
    color: lightgrey;
    font-size: 14px;
  }

  label {
    font-size: 26px;
  }
}