.MakeATripForm {
  padding: 0px;
  margin: 0px;

  input {
    background-color: #935ced;
    border: none;
    color: white;
  }

  ::placeholder {
    color: lightgrey;
    font-size: 14px;
  }

  .btn:active {
    background-color: #935ced;
    color: white;
  }

  label {
    font-size: 26px;
  }

  .button-container {
    margin: 30px;
  }
}