.App {
  font-family: 'Oswald', sans-serif;

  form {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  label {
    text-transform: uppercase;
    font-size: 18px;
  }

  button {
    text-transform: uppercase;
    font-size: 18px;
  }

  .linking {
    padding: 20px;
  }

  .app-div {
    height: 0px;
    margin: 0;
    padding: 0;

  }

  .container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}




