
.CameraNav{

  .top-space {
    height: 250px;
    margin: 0px;
    padding: 0px
  }

  h2 {
    padding: 20px;
    color: white;
  }
  .camera-nav-div {
  width: 100%;
  height: 700px;
  background-image: url("./brand/camera.png");
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -100px;

  }

  .btn{
    background-color: transparent;
    border: 3px solid white;
    color: white;
    width: 130px;
    font-size: 20px;
  }

  .homepage-logo {
    width: 250px;
    margin: 20px;
  }

  .nav-buttons {
    // border: 10px solid white;
    width: 400px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 300px;
  }

  .btn{
    margin: 15px;
  }

}