.BucketListPage{
  background-image: url("./images/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    color: white;
  }

  .extra-space {
    height: 3000px;
  }

  .login-link {
    font-size: 20px;

  }
}
